body{
    margin: 0;
    padding: 0;
}
main{
    padding-top: 55px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
}

nav{
    height: 55px;
    width: 100%;
    background-color: #232323;
    position: absolute;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    width: 50%;
    height: 30px;
    background-color: #121212;
    border: 1px solid #303030;
    border-radius: 2px;
    color: #6B6B6B;
    font-size: 16px;
    padding-left: 10px;
}

section{
    background-color: #121212;
    grid-column: 1/9;
    grid-row: 1/4;
}

hr{
    border: 1px solid #232323;
    width: 640px;
    margin-left: 10%;
    bottom: 0;
}

#player{
    margin-top: 20px;
    margin-left: 10%;
}

article{
    background-color: #121212;
    grid-column: 1/9;
    grid-row: 4/-1; 
}

aside{
    background-color: blueviolet;
    grid-column: 9/-1;
    grid-row: 1/-1;
}